.layoutSolicitacao{
    display: flex;
}

.containerPrincipalSolicitacao{
    width: 95%;
}

.headerSolicitacao{
    border: solid red;
    width: 20%;
    display: flex;
}

.mainSolicitacao{
    width: 100%;
}

.formSolicitacao{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: solid;
}

//estilização padrão dos inputs, select e label

label{
    font-weight: 700;
    font-size: 1.1rem;
    color: #23282F;
}

input, select, textarea{
    border-radius: 6px;
    border: solid #CBD4E1 0.8px;
    height: 4vh;
    width: 100%;
}

//Estilização do grupo1

.grupo1{
    width: 30%;
    height: 25vh;
    border: solid green;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.inputNome{
    //border: solid red;
    width: 45%;
}

.inputEmpresa{
    //border: solid blue;
    width: 25%;
}

.inputPrestacao{
    //border: solid green;
    width: 25%;
}

.inputMotivo{
    //border: solid orange;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    textarea{
        height: 10vh;
    }
}

//estilização da barra vertical.

.barraVertical{
    background-color: #CBD4E1;
    height: 25vh;
    width: 0.1vw;
}

//Estilização do grupo2.

.grupo2{
    border: solid green;
    width: 65%;
}