@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.layout{
    display: flex;
    height: 100%;
    width: 100%;
}

.mainReembolsos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    
    header{
        display: flex;
        width: 100%;
        height: 7%;
        justify-content: left;
        align-items: end;
        .containerHeader{
            display: flex;
            justify-content: space-around;
            width: 15%;
            p{
                font-size: 1rem;
                font-family: "Inter", sans-serif;
            }
        }
    }
}

.conteinerCards{
    border: blue;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 3% 0%;

    .card{
        border: solid .8px rgba(203, 212, 225, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        width: 31%;
        height: 25vh;
    }
    .card > p{
        text-align: center;
        font-size: .9rem;
        font-weight: 700;
        width: 100%;
        margin-top: .5rem;
    }
}

article{
border: solid;
  width: 12vw;
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteinerStatus {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px rgba(203, 212, 225, 1);
    border-radius: 3px;
    padding: 3%;
    margin-bottom: 1%;

    div{
        //   border: solid orange;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 20%;
        height: 5vh;
    }
}

.img1{
    background-color: #00BEDD;
    border-radius: 6px;
    padding: 6px;
}

.img2{
    background-color: #E56700;
    border-radius: 6px;
    padding: 6px;
}

.img3{
    background-color: #007A6A;
    border-radius: 6px;
    padding: 6px;
}

.img4{
    background-color: #A60B2F;
    border-radius: 6px;
    padding: 6px;
}

.conteinerSitema{
    display: flex;
    width: 100%;
    justify-content: left;
    color: blue;
    align-items: center;
    font-size: 1rem;
    margin-top: 1%;

    img{
        margin-right: 1%;
    }
}

.centralizar{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}